* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(19, 32 ,44);
  background: linear-gradient(90deg, rgba(19, 32, 44, 1) 0%, rgba(31, 47, 61 ,1) 35%, rgba(17, 28, 39, 1) 100%);
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', serif;
  text-transform: lowercase;
  font-weight: 700;
  line-height: 1;
  color: #FFF;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1 {
  font-size: 3.2rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 90vw;
  margin: 0 auto;
}
