header {
  height: 130px;
  padding: 40px 0;
  
  h1 {
    position: relative;
    margin-right: 100px;
    text-transform: uppercase;

    &:before, &:after {
      position: absolute;
      text-transform: uppercase;
      content: "Can't Wait";
    }

    &:before {
      top: -10px;
      left: -10px;
      color: rgba(250, 3, 216, 0.4);
    }
    &:after {
      bottom: -10px;
      right: -10px;
      color: rgba(9, 44, 250, 0.4);
    }

    span {
      position: relative;
      z-index: 1;
    }
  }
  .container {
    display: flex;
    align-items: center;
  }
  nav {
    display: inline-flex;

    &:last-child {
      margin-left: auto;
    }
    
    a {
      margin-right: 2em;
      font-size: 1.4rem;
      transition: opacity 0.2s ease-in-out;
      
      &:last-child {
       margin-right: 0;
      }

      &.filtered {
        opacity: 0.5;
      }
    }
  }
}